/* CSS RESET */

* {
  margin: 0;
	padding: 0;
	border: 0;
  /*
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
  */
}


/* MAIN STYLES */
body {
    background-color: #FFFFFA;
}

/* FONT STYLES */

h1 {
    font-family: 'Montserrat', sans-serif;
    font-size: 50px;
    color: #555;
    font-weight: 700;
    font-weight: 700;
    line-height: 50px;
    text-transform: uppercase;
    letter-spacing: 8px;
}

h2 {
    font-family: 'Nixie One', 'Montserrat', sans-serif;
    font-size: 30px;
    color: #555;
    font-weight: 200;
    line-height: 30px;
    text-transform: uppercase;
    letter-spacing: 4.8px;
}

h3 {
    font-family: 'Montserrat', sans-serif;
    font-size: 25px;
    color: #555;
    font-weight: 700;
    line-height: 25px;
    text-transform: uppercase;
    letter-spacing: 4px;
}

h4 {
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    color: #555;
    font-weight: 200;
    line-height: 20px;
    text-transform: uppercase;
    letter-spacing: 2px;
}

h5 {
    font-family: 'Montserrat', sans-serif;
    font-size: 15px;
    color: #555;
    font-weight: 700;
    line-height: 25px;
    text-transform: uppercase;
    letter-spacing: 2px;
}

h6 {
    font-family: 'Montserrat', sans-serif;
    font-size: 15px;
    color: #555;
    font-weight: 200;
    line-height: 15px;
    text-transform: uppercase;
    letter-spacing: 0px;
}

p, li {
    font-family: 'Raleway', 'Helvetica', sans-serif;
    font-size: 15px;
    font-style: normal;
    font-weight: normal;
    letter-spacing: normal;
    line-height: 20px;
    text-transform: none;
    color: #555;
}

.whitetext {
    color: white;
}

.lightgrey {
    color: #999;
}

.subtitle {
    text-transform: none;
}

b, strong {
    font-weight: 700;
}

i, em {
    font-style: italic;
}

sup {
    vertical-align: super;
    font-size: smaller;
}

sub {
    vertical-align: sub;
    font-size: smaller;
}

code {
    background: rgba(0, 0, 0, 0.0375);
    border-radius: 3px;
    font-family: "Courier New", monospace;
    font-size: 14px;
    letter-spacing: 0;
    margin: 0 0.25em;
    padding: 0.25em 0.64em;
}

a {
    /* border-bottom: dotted 1px; */
    text-decoration: none;
    color: inherit;
}

.hyperlink {
	border-bottom: dotted 1px;
}


a:hover {
    color: #990000;
    border-bottom: none;
}

blockquote {
    font-family: 'PT Serif', serif;
    font-size: 15px;
    font-style: normal;
    font-weight: normal;
    letter-spacing: 0.25px;
    line-height: 20px;
    text-transform: none;
    color: #555;

    border-color: #dfdfdf;
    border-left: solid 4px #dfdfdf;
    font-style: italic;
    margin: 0 0 2em 0 ;
    padding: 1em 0 1em 2em;
    quotes: none;
}

pre code {
    display: block;
    padding: 1em 1.5em;
    overflow-x: auto;
}

ul {
    list-style: disc;
    padding-left: 1em;
}

ol {
    margin: 0 0 2em 0;
    padding-left: 1em;
}

ul.alt {
    list-style: none;
    padding-left: 0;
}

ul.alt li{
    border-color: #dfdfdf;
    border-top: solid 1.25px #dfdfdf;
    padding: 1em 0;
}

ul.alt li:first-child {
    border-top: none;
}

#textnumbers {
	letter-spacing: 2px;
}


/* ITEM STYLES */
.whitehorizontalbar {
    width: 500px;
    height: 2px;
    background-color: #fff;
    text-align: center;
    margin: 10px 0;
}

hr {
    border-color: #dfdfdf;
    border: 0;
    border-bottom: solid 2px #dfdfdf;
    margin: 3em 0;
    box-sizing: border-box;
    clear: both;
    /* width: 100%;
    height: 1.75px;
    background-color: #bbb;
    color: #555;
    text-align: center;
    margin: 10px 0;
    */
}

.scrollarrow {
    transform: translateY(0);
    border: none;
    bottom: 0;
    color: inherit;
    font-size: 0.6em;
    height: 8.5em;
    left: 50%;
    margin-left: -8.5em;
    opacity: 1;
    outline: 0;
    padding-left: 0.225em;
    position: absolute;
    text-align: center;
    text-transform: uppercase;
    width: 16em;
    z-index: 1;
}

button {
    background-color: transparent;
    border: solid; /* 0 */
    border-color: #cccccc;
    border-width: 0.05em;
    border-radius: 5px;
    min-height: 3em;
    padding: 1em 2em;

    font-family: 'Montserrat', sans-serif;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 0.25em;
    font-size: 13px;

    box-shadow: inset 0 0 0 1pz #cccccc;
    color: #777 !important;
    cursor: pointer;
    display: inline-block;
    white-space: nowrap;
}

button:hover {
    background-color: #eeeeee;
    transition: 0.15s ease-in;
}

.button-usc {
    background-color: #990000;
    color: #fff !important;
}

.button-usc:hover {
    opacity: 0.65;
    background-color: #990000;
}

.button-ucla {
    background-color: #3284bf;
    color: #fff !important;
}

.button-ucla:hover {
    opacity: 0.65;
    background-color: #3284bf;
}


/* DIV STYLES*/

/*
#homeheader {
    width: 100%;
    height: 100%;
    background-image: url(images/bg-img.jpg);
    opacity: 0.3;
    float: left;
    background-size: cover;
}
*/

#indexheader {
    width: 100%;
    height: 100%;
    background-color: #252627;
}

#hometext {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    text-align: center;
    color: #fff;
    z-index: 2;
}

#homenav {
    position: absolute;
    top: 20px;
    right: 20px;
    border: 0;
    display: block;
}

#homenav a {
    color: #fff;
    letter-spacing: 0.225em;
    font-size: 15px;
    text-transform: uppercase;
    text-decoration: none;
    font-family: 'Nixie One', serif;
    border: none;
}

.content {
    width: 85%;
    position: relative;
    left: 7.5%;
    right: 7.5%;
    padding: 7.5% 0;
}

footer {
    position: relative;
    bottom: 0;
    width: 100%;
    height: 30%;
    background-color: #252627;
}

.footertext {
    position: relative;
    width: 100%;
    text-align: center;
    top: 50%;
    transform: translateY(-50%);
}

.twocolleft {
    position: relative;
    width: 50%;
    float: left;
}

.twocolright {
    position: relative;
    width: 50%;
    float: right;
}

#homepage-body {
  width: 80%;
  display: inline-block;
  margin-left: 10%;
  padding-top: 60px;
  padding-bottom: 80px;
}

#usc-homepage {
  width: 42.5%;
  float: left;
  border: solid 2px #dfdfdf;
  text-align: center;
  height: auto;
    padding: 2.5%;
}

#ucla-homepage {
  width: 42.5%;
  float: right;
  border: solid 2px #dfdfdf;
  text-align: center;
  height: auto;
    padding: 2.5%;
}

.navbar {
    overflow: hidden;
    background-color: #333;
    position: fixed; /* Set the navbar to fixed position */
    top: 0; /* Position the navbar at the top of the page */
    width: 100%; /* Full width */
    text-align: center;
    z-index: 10;
}

#one {
    color:#FFFFFA;
    width: 100%;
}

#one h1 {
    text-align: center;
    padding-bottom: 30px;
    font-size: 32px;
}



.logo {
    height: 80px;
    margin-bottom: 2.5%;
}

.pick {
    margin-top: 2.5%;
}

/* Links inside the navbar */
.navbar a {
    font-family: 'Raleway', 'Montserrat', sans-serif;
	  font-weight: 400;
    font-size: 16px;
    color: #f2f2f2;
    font-weight: 200;
    line-height: 16px;
    text-transform: uppercase;
    letter-spacing: 2px;
    width: 16%;
    text-align: center;
    padding: 14px 16px;
    display: inline-block;
    border-bottom: none;
}

#home-test {
  background: url(images/bg-img.jpg) no-repeat center center fixed;
  display: table;
  height: 100%;
  position: relative;
  width: 100%;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

#home-overlay {
  background-color: black;
  height: 100%;
  width: 100%;
  opacity: 0.5;
  z-index: 0;
}

/* RIVARLY TIMELINE PAGE */
#rivalryheader {
	background-attachment: scroll, scroll, fixed;
	background-image: url(images/top-1600.svg), url("images/overlay.png"), url(images/oldticket.jpg);
	background-position:  bottom center, top left, top center;
	background-repeat: no-repeat, repeat, no-repeat;
	position: relative;
	height: 95%;
	width: 100%;
	background-size: 2000px 287.5px, auto, cover;
	text-align: center;
	padding: 0;
	margin: 0;
	color: rgba(255, 255, 255, 0.8);
}

/*
#two:before {
	background: rgba(224, 224, 224, 0.75);
	content: '';
	height: 620%;
	left: calc(50% - 1px);
	position: absolute;
	top: 0;
	width: 2px;
	z-index: -1;
}
*/

#timeline-section:before {
	background: rgba(224, 224, 224, 0.75);
	content: '';
	height: 620%;
	left: calc(50% - 1px);
	position: absolute;
	top: 0;
	width: 2px;
	z-index: -1;
}

#crosstown-section:before {
	background: rgba(224, 224, 224, 0.75);
	content: '';
	height: 100%;
	left: calc(50% - 1px);
	position: absolute;
	top: 0;
	width: 2px;
	z-index: -1;
}

#victory-section:before {
	background: rgba(224, 224, 224, 0.75);
	content: '';
	height: 400%;
	left: calc(50% - 1px);
	position: absolute;
	top: 0;
	width: 2px;
	z-index: -1;
}

#overview-section:before {
	background: rgba(224, 224, 224, 0.75);
	content: '';
	height: 280%;
	left: calc(50% - 1px);
	position: absolute;
	top: 0;
	width: 2px;
	z-index: -1;
}


#two h1, #three h1, #four h1 {
	text-align: center;
	font-size: 32px;
}

.majorheader {
	position: relative;
	background: #FFFFFA;
	width: 60%;
	margin-left: 20%;
	margin-right: 20%;
	margin-bottom: 6em;
	border-color: #dfdfdf;
	border-style: solid;
	border-bottom-width: 2px;
	border-top-width: 2px;
	padding: 3em 0 3em 0;
	text-align: center;
	display: block;
}

.majorheader p {
	padding: 0 10%;
}

.majorheader:before {
	top: 10px;
	background: rgba(224, 224, 224, 0.75);
	content: '';
	display: block;
	height: 1px;
	left: 0;
	position: absolute;
	width: 100%;
}

.majorheader:after {
	bottom: 10px;
	background: rgba(224, 224, 224, 0.75);
	content: '';
	display: block;
	height: 1px;
	left: 0;
	position: absolute;
	width: 100%;
}

.videoheader {
	position: relative;
	background: #FFFFFA;
	width: 60%;
	margin-left: 20%;
	margin-right: 20%;
	margin-bottom: 6em;
	padding: 0;
	text-align: center;
	display: block;
}

.videoheader iframe {
	width: 100%;
	height: 56.25%;
}

.rivalrycontent {
	margin-bottom: 3em;
}

#timeline:before {
	background: rgba(224, 224, 224, 0.75);
	content: '';
	height: 100%;
	margin-left:  left: 50%;
	position: relative;
	top: 0;
	width: 1px;
	z-index: -1;
}

#timeline {
	position: relative;
	width: 80%;
	margin-top: 0;
	margin-left: 10%;
	margin-right: 10%;
	height: auto;
	align-content: center;
}

.timeline, .schooltimeline {
	padding: 0;
	margin: 0;
	width: 50%;
}

.schooltimeline {
	text-align: center;
	padding: 2em 3em;
	vertical-align: top;
}

.schooltimeline h3 {
	padding-bottom: 0.35em;
	font-size: 20px;
	letter-spacing: 2px;
}

#timeline td img {
	max-width: 100%;
	height: auto;
	padding: 0;
	margin: 0;
}

#timeline th {
	padding: 0 3em 2em 3em;
	border-bottom: solid 1px #dfdfdf;
}

.timelineaudio {
	padding: 2em 0;
	text-align: center;
	border-bottom: solid 1px #dfdfdf;
}

.timelineaudio h4 {
	padding-bottom: 0.75em;
}



.historyleft {
	/* max-width: inherit; */
	text-align: left;
	padding: 5%;
}

.historyright {
	text-align: right;
	padding: 5%;
}

#three:before {
	background: rgba(224, 224, 224, 0.75);
	content: '';
	height: 285%;
	left: calc(50% - 1px);
	position: absolute;
	top: 0;
	width: 2px;
	z-index: -1;
}

#historyheader {
	background-attachment: scroll, scroll, fixed;
	background-image: url(images/top-1600.svg), url("images/overlay.png"), url(images/LA_HistoriesBackground.jpg);
	background-position:  bottom center, top left, top center;
	background-repeat: no-repeat, repeat, no-repeat;
	position: relative;
	height: 95%;
	width: 100%;
	background-size: 2000px 287.5px, auto, cover;
	text-align: center;
	padding: 0;
	margin: 0;
	color: rgba(255, 255, 255, 0.8);
}

.minorheader {
	position: relative;
	background: #FFFFFA;
	width: 80%;
	margin-left: 10%;
	margin-right: 10%;
	margin-bottom: 6em;
	border-color: #dfdfdf;
	border-style: solid;
	border-top-width: 2px;
	padding: 0;
	text-align: center;
	display: block;
}

.minorheader:before {
	top: 10px;
	background: rgba(224, 224, 224, 0.75);
	content: '';
	display: block;
	height: 1px;
	left: 0;
	position: absolute;
	width: 100%;
}

.bottomheader {
	position: relative;
	background: #FFFFFA;
	height: 4em;
	width: 80%;
	margin-left: 10%;
	margin-right: 10%;
	border-color: #dfdfdf;
	border-style: solid;
	border-top-width: 2px;
	padding: 0;
	text-align: center;
	display: block;
}

.bottomheader:before {
	top: -10px;
	background: rgba(224, 224, 224, 0.75);
	content: '';
	display: block;
	height: 1px;
	left: 0;
	position: absolute;
	width: 100%;
}

#four:before {
	background: rgba(224, 224, 224, 0.75);
	content: '';
	height: 110%;
	left: calc(50% - 1px);
	position: absolute;
	top: 0;
	width: 2px;
	z-index: -1;
}

#championshipheader {
	background-attachment: scroll, scroll, fixed;
	background-image: url(images/top-1600.svg), url("images/overlay.png"), url(images/halloffame.jpg);
	background-position:  bottom center, top left, top center;
	background-repeat: no-repeat, repeat, no-repeat;
	position: relative;
	height: 95%;
	width: 100%;
	background-size: 2000px 287.5px, auto, cover;
	text-align: center;
	padding: 0;
	margin: 0;
	color: rgba(255, 255, 255, 0.8);
}

#victorybellheader {
	background-attachment: scroll, scroll, fixed;
	background-image: url(images/top-1600.svg), url("images/overlay.png"), url(images/uscvictorybell.jpg);
	background-position:  bottom center, top left, center center;
	background-repeat: no-repeat, repeat, no-repeat;
	position: relative;
	height: 95%;
	width: 100%;
	background-size: 2000px 287.5px, auto, cover;
	text-align: center;
	padding: 0;
	margin: 0;
	color: rgba(255, 255, 255, 0.8);
}

#seriesrecord {
	width: 100%;
	height: 10px;
}

#seriesrecord-usc {
	background-color: #990000;
	width: 55%;
	height: 20px;
	float: left;
}

#seriesrecord-ucla {
	background-color: #3284bf;
	width: 37%;
	height: 20px;
	float: left;
}

#seriesrecord-tie {
	background-color: #666666;
	width: 8%;
	height: 20px;
	float: left;
}


.navbar.usc {
  background-color: #990000;
}

.navbar.ucla {
  background-color: #3284bf;
}

footer.usc{
  background-color: #990000;
}

footer.ucla {
  background-color: #3284bf;
}






/*Overview Page*/
#overview:before {
	background: rgba(224, 224, 224, 0.75);
	content: '';
	height: 100%;
	margin-left:  left: 50%;
	position: relative;
	top: 0;
	width: 1px;
	z-index: -1;
}

#overview {
  position: relative;
  width: 80%;
  margin-top: 0;
  margin-left: 10%;
  margin-right: 10%;
  height: auto;
  align-content: center;
}

#overview th{
  padding: 0 3em 2em 3em;
  border-bottom: solid 1px #dfdfdf;
}


.overview {
  padding: 0;
  margin: 0;
  width: 50%;
}


.overview-table h3 {
	padding-bottom: 0.35em;
	font-size: 20px;
	letter-spacing: 2px;
}


#overview td img {
	max-width: 100%;
	height: auto;
	padding: 0;
	margin: 0;
}

#overview th {
	padding: 0 3em 2em 3em;
	border-bottom: solid 1px #dfdfdf;
}


.overviewcontent {
	position: relative;
	background: #FFFFFA;
	width: 70%;
	margin-left: 15%;
	margin-right: 15%;
	margin-bottom: 6em;
	padding: 0;
	text-align: center;
	display: block;
}
#RevealEnrollment, #RevealMascot, #RevealRank, #RevealLocation, #RevealStudent {
	display:none;
}
.mascotdiv {
	position: relative;
	background: #FFFFFA;
	width: 70%;
	margin-left: 15%;
	margin-right: 15%;
	margin-bottom: 6em;
	padding: 0;
	text-align: center;
	display: block;
}

.ranking {
	position: relative;
	background: #FFFFFA;
	width: 70%;
	margin-left: 15%;
	margin-right: 15%;
	margin-bottom: 6em;
	padding: 0;
	text-align: center;
	display: block;
}

.locationDiv {
	position: relative;
	background: #FFFFFA;
	width: 70%;
	margin-left: 15%;
	margin-right: 15%;
	margin-bottom: 6em;
	padding: 0;
	text-align: center;
	display: block;
}

.studentsDiv {
	position: relative;
	background: #FFFFFA;
	width: 70%;
	margin-left: 15%;
	margin-right: 15%;
	margin-bottom: 6em;
	padding: 0;
	text-align: center;
	display: block;
}

#overviewcontent img, #mascotdiv img, #ranking img, #locationDiv img, #studentDiv img {
	position: absolute;
	align-content: center; 
	max-width: 100%;
	height: auto;
	padding: 0;
	margin: 0;
}

.centered, .enrollment, .mascot, .rank, .location, .students {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: 'Montserrat', sans-serif;
    font-size: 38px;
    color: white;
    font-weight: 700;
    font-weight: 700;
    line-height: 50px;
    text-transform: uppercase;
    letter-spacing: 8px;
}


