#historycontentmobile {
	display: none;
}

@media screen and (max-width: 1100px) {
	
	#homepage-body {
		width: 90%;
		margin-left: 5%;
		margin-right: 5%;
	}
	
	.majorheader {
		width: 90%;
		margin-left: 5%;
		margin-right: 5%;
	}
	
	.bottomheader, .minorheader {
		width: 90%;
		margin-left: 5%;
		margin-top: 5%;
	}
	
	#usc-homepage, #ucla-homepage {
		width: 80%;
		margin-left: 7.5%;
		margin-right: 7.5%;
		margin-bottom: 20px;
	}
	
	#timeline {
		width: 90%;
		margin-left: 5%;
		margin-right: 5%;
	}
	
	.overviewcontent, .mascotdiv, .ranking, .locationDiv, .statuesDiv, .championshipDiv, .studentsDiv {
		width: 90%;
		margin-left: 5%;
		margin-right: 5%; 
	}
	
	.centered, .enrollment, .mascot, .rank, .location, .students, .champion, .statue {
		font-size: 28px;
		letter-spacing: 4px;
		line-height: 28px;
	}
	
}

@media screen and (max-width: 750px) {
	
	/*
	audio {
		display: none;
	}
	*/
	
	#historycontentmobile {
		display: block;
	}
	
	#historycontent {
		display: none;
	}
	
	#timeline table th {
		rowspan
	}
	
	#three:before {
		height: calc(100%  + 4em);
	}
	
	.minorheader {
		margin-bottom: 3em;
	}
	
	.bottomheader, .minorheader {
		width: 90%;
		margin-left: 5%;
		margin-top: 5%;
	}
	
	#mobilebottomheader {
		height: 0;
	}
	
}


@media screen and (max-width: 600px) {
	
	h1 {
		font-size: 40px;
		line-height: 40px;
		letter-spacing: 6px;
	}
	
	h2 {
		font-size: 24px;
		line-height: 24px;
		letter-spacing: 4px;
	}
	
	.whitehorizontalbar {
		width: calc(100vw - 25px);
	}
	
	.centered, .enrollment, .mascot, .rank, .location, .students, .champion, .statue {
		font-size: 18px;
		letter-spacing: 2px;
		line-height: 18px;
	}
	
}